---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="h-screen flex items-center justify-center">
	<div class="">
		<h1 class="text-4xl font-bold">
			Welcome to Astro Project
		</h1>
		<hr class="border-gray-300 my-4" />
		<div class="flex justify-between">
			<a href="/login" class="text-blue-500 text-lg">Login</a>
			<a href="/register" class="text-blue-500 text-lg">Register</a>
		</div>
	</div>
  </div>
</Layout>
